/* You can add global styles to this file, and also import other style files */

.navbar {
    background-color: #ffc107;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #e6ac00;
}

.navbar-default .navbar-nav>li>a {
    color: #fdfdfd;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fefefe;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.btn {
    padding: 5px 25px;
}

.btn-danger {
    background-color: #ff5722;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

a.danger {
    color: #ff5722;
}

.alert-danger {
    background-color: #ff5722;
}

label.error {
    color: #ff5722;
    margin: 10px 0 0 0;
}

/* BOX LOGIN */

.box {
    position: fixed;
    margin: auto;
    top: 240px;
    left: 0;
    z-index: 200;
    right: 0;
    max-width: 660px;
    width: 100%;
    color: #666;
    padding: 30px;
    border-radius: 3px;
    background: #FFF;
    margin-bottom: 100px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
}

.box form {
    max-width: 350px;
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0 auto;
}

