<app-navbar></app-navbar>

<div class="header-img">
  <div class="container">
    <div class="row">
      <div class="paragraph col-sm-6">
        <div class="title">
          <span>BREW SMART,</span><br>
          <span class="light-red">BREW WITH HEART</span>
          <hr>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Tempor
          incididunt ut labore et dolore magna aliqua.
        </div>
        <a class="btn btn-light-red" [routerLink]="['/signup']">
          <img src="/assets/img/home/beer_button_icon.png" alt=""/>
          Become a Craftsman
        </a>
      </div>
    </div>
  </div>
  <div class="hop-img-left hidden-sm hidden-xs">
    <img src="/assets/img/home/hop_left.png" alt="">
  </div>
  <div class="hop-img-right hidden-sm hidden-xs">
    <img src="/assets/img/home/hop_right.png" alt="">
  </div>
</div>

<section style="background-color: white;">
  <div class="container" style="position: relative; ">
    <div class="row">
      <div class="col-sm-6 padding-top" style="text-align: center;">
        <img src="/assets/img/home/home_1.png" alt="" style="width: 100%; height: auto; max-width: 480px;">
      </div>
      <div class="paragraph col-sm-6 padding-top">
        <div class="triangle-right hidden-xs">
          <img src="/assets/img/home/triangle1.png" alt="">
        </div>
        <div class="title dark">
          <span>ABOUT BREWCRAFT</span>
          <hr>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Tempor
          incididunt ut labore et dolore magna aliqua.
        </div>
        <button class="btn btn-light-red">
          <img src="/assets/img/home/beer_button_icon.png" alt=""/>
          About Brew Craft
        </button>
      </div>
    </div>
    <div class="candle-right">
      <img src="/assets/img/home/home_2.png" alt="">
    </div>
  </div>
</section>

<section class="red-background" style="padding-bottom: 0px;">
  <div class="container" style="position: relative; ">
    <div class="row">
      <div class="paragraph col-md-12 padding-top">
        <div class="triangle-left hidden-xs">
          <img src="/assets/img/home/triangle2.png" alt="">
        </div>
        <div class="title light">
          <span>LOREM IPSUM</span>
          <hr>
        </div>
        <div class="content light">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Tempor
          incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="col-md-12" style="    padding: 0 30px;    margin-bottom: -80px;    margin-top: -30px;">
        <img src="/assets/img/home/avatars.png" alt="" style="width: 100%;">
      </div>
    </div>
  </div>
</section>


<section style="background-color: white; padding-top: 120px; margin-bottom: -100px;">
  <div class="container" style="position: relative; ">
    <div class="row">
      <div class="paragraph col-md-12">
        <div class="title dark">
          <span>HOW IT WORKS</span>
          <hr>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Tempor
          incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="step row" style="margin: 70px 0">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="/assets/img/home/step1.jpg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="/assets/img/home/step2.jpg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="/assets/img/home/step3.jpg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="/assets/img/home/step4.jpg" alt="">
          </div>
        </div>
        <button class="btn btn-light-red" style="display: block; margin: 0 auto" [routerLink]="['/signup']">
          <img src="/assets/img/home/beer_button_icon.png" alt=""/>
          Get Started!
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>