<div class="widget white">
  <div class="media post">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="assets/img/Tips.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Doe <small>&bull; 2 days ago</small></h4>
      <span class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
        iusmod tempor incididunt ut labore et dolore magna aliqtem.
      </span>
      <div class="footer">
        <span>
          <img src="assets/img/favorite_breweries.png" alt=""/>
          
              356
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="media post">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="assets/img/Tips.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Doe <small>&bull; 2 days ago</small></h4>
      <span class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
        iusmod tempor incididunt ut labore et dolore magna aliqtem.
      </span>
      <div class="footer">
        <span>
          <img src="assets/img/favorite_breweries.png" alt=""/>
          
              3
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="media post">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="assets/img/Tips.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Doe <small>&bull; 2 days ago</small></h4>
      <span class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
        iusmod tempor incididunt ut labore et dolore magna aliqtem.
      </span>
      <div class="footer">
        <span>
          <img src="assets/img/favorite_breweries.png" alt=""/>
          
              35
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="media post">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="assets/img/Tips.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Doe <small>&bull; 2 days ago</small></h4>
      <span class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
        iusmod tempor incididunt ut labore et dolore magna aliqtem.
      </span>
      <div class="footer">
        <span>
          <img src="assets/img/favorite_breweries.png" alt=""/>
          
              16
        </span>
      </div>
    </div>
  </div>
  <hr>
  <button class="btn btn-orange big pull-right" style="margin-left: 5px;">Load more</button>
  <div class="clearfix"></div>
</div>