<div class="widget white">
  <div class="media post" *ngFor="let post of posts">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="assets/img/Tips.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{post.writerName}} <small>&bull; {{getTimeDiff(post.date)}}</small></h4>
      <span class="desc">
        {{post.content}}
      </span>
      <div class="footer">
        <span>
          <img src="assets/img/favorite_breweries.png" alt=""/>
              356
        </span>
      </div>
    </div>
  </div>
  <hr>
  <button class="btn btn-orange big pull-right" style="margin-left: 5px;" (click)="loadMore()">Load more</button>
  <div class="clearfix"></div>
</div>