<nav class="navbar navbar-default no-shadow no-margin">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" [routerLink]="['/dashboard']">
        <img src="/assets/img/Logo_header.png" alt="">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/dashboard']">Home</a></li>
        <li><a [routerLink]="['/dashboard/guild']">Guild</a></li>
        <li><a [routerLink]="['/dashboard/brew-day']">Brew Day</a></li>
        <li><a [routerLink]="['/dashboard/my-recipes']">My Recipes</a></li>
        <li><a [routerLink]="['/dashboard']">Breweries</a></li>
        <li><a href="javascript:void(0)" (click)="logout()">Logout&nbsp;&nbsp;<img src="/assets/img/Icons/Login_Logout_Icon.png" alt=""/></a></li>
        <li class="search-box">
          <div>
            <input type="text" placeholder="Search">
            <img src="/assets/img/Icons/Browse_Icon.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="header-img">
</div>

<div class="user-stats-bar">
  <div class="container">
    <div class="avatar">
      <img [src]="'/assets/img/Avatar/Avatar_Level_' + (user.level==undefined?1:user.level) + '.png'" alt="">
    </div>
    <div class="user-name">
      <div>
        <h5>{{user.fullname}}</h5>
        <span class="desc">Craftsman- joined {{joinDate}}</span>
      </div>
      <div>
        <h5><img src="/assets/img/Icons/contact_icon.png" alt=""></h5>
        <span class="desc"><i class="fa fa-star"></i></span>
        <span class="desc"><i class="fa fa-star"></i></span>
        <span class="desc"><i class="fa fa-star"></i></span>
        <span class="desc"><i class="fa fa-star"></i></span>
      </div>
    </div>
    <ul class="stats-list">
      <li class="active">
        <span class="figure">{{user.brewdays == undefined? 0: user.brewdays}} <img src="assets/img/Icons/Brew_days_icon.png" alt="" style="width: 21px; margin-top: -6px;"></span><br>
        Brew Days
      </li>
      <li>
        <span class="figure">{{user.recipes == undefined? 0: user.recipes}}<img src="assets/img/Icons/recipes_icon.png" alt="" style="width: 34px; margin-top: -6px; margin-left: 4px;"></span><br>
        Recipes
      </li>
      <li>
        <span class="figure">{{user.opinions == undefined?0: (user.opinions < 1000? user.opinions: floor(user.opinions/1000) + '.' + floor((user.opinions - 1000 * floor(user.opinions / 1000))/100)) }} <small *ngIf="user.opinions > 999">K</small></span><br>
        Opinions
      </li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>