<app-navbar></app-navbar>

<section class="header">
  <img src="/assets/img/brewday/header_figure.png" alt="">
</section>

<section style="background-color: white; padding-top: 30px; ">
  <div class="container" style="position: relative; ">
    <div class="row">
      <div class="paragraph col-md-12">
        <div class="title dark">
          <span>BREW DAY</span>
          <hr>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Tempor incididunt
          ut labore et dolore magna aliqua.Tempor incididunt ut labore et dolore magna aliqua.Tempor incididunt ut labore
          et dolore magna aliqua.Tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
</section>

<app-recipe-select></app-recipe-select>
<app-brew-timer></app-brew-timer>

<div class="blank-img">
  <div class="footer-logo">
    <img src="/assets/img/Logo_Footer.png" alt="">
  </div>
</div>
<div class="secondary-footer">
  <a [routerLink]="['/dashboard']">Imprint</a>
  <a [routerLink]="['/dashboard']">Privacy policy</a>
</div>