<div class="container login">
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <div class="container">
        <div class="container text-center">
            <div id="polina" class="container">
                <form class="form-horizontal animated bounceInDown">
                    <!--email-->
                    <div class="form-group has-success has-feedback">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" placeholder="Email Address" [(ngModel)]="user.username" name="username" #username="ngModel" [ngClass]="{ 'error-form-control': !onEmail }" required/>
                            <span class="glyphicon glyphicon-envelope form-control-feedback" [ngClass]="{ 'error-form-control-feedback': !onEmail }"></span>
                        </div>
                    </div>
                    <div *ngIf="!onEmail" class="animated fadeInRight"><label class="error">Please enter a valid email address.</label></div>

                    <!--first name-->
                    <div class="form-group has-success has-feedback">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" [(ngModel)]="user.firstname" name="firstname" #firstname="ngModel" placeholder="First Name" [ngClass]="{ 'error-form-control': !onRegister&&!firstname.valid }" required>
                            <span class="glyphicon glyphicon-user form-control-feedback" [ngClass]="{ 'error-form-control-feedback': !onRegister&&!firstname.valid }"></span>
                        </div>
                    </div>
                    <div *ngIf="!firstname.valid&&!onRegister" class="animated fadeInRight"><label class="error">Please enter a first name.</label></div>


                    <!--last name-->
                    <div class="form-group has-success has-feedback">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" [(ngModel)]="user.secondname" name="secondname" #secondname="ngModel" placeholder="Last Name" [ngClass]="{ 'error-form-control': !onRegister&&!secondname.valid }" required>
                            <span class="glyphicon glyphicon-user form-control-feedback" [ngClass]="{ 'error-form-control-feedback': !onRegister&&!secondname.valid }"></span>
                        </div>
                    </div>
                    <div *ngIf="!secondname.valid&&!onRegister" class="animated fadeInRight"><label class="error">Please enter a last name.</label></div>


                    <!--password-->
                    <div class="form-group has-success has-feedback">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Password" [ngClass]="{ 'error-form-control': !onRegister&&!password.valid }" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback" [ngClass]="{ 'error-form-control-feedback': !onRegister&&!password.valid }"></span>
                        </div>
                    </div>

                    <!--Confirm Password-->
                    <div class="form-group has-success has-feedback">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" [(ngModel)]="rePassword" name="repassword" #repassword="ngModel" placeholder="Confirm Password" [ngClass]="{ 'error-form-control': !onRegister&&!repassword.valid||!onPassword }" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback" [ngClass]="{ 'error-form-control-feedback': !onRegister&&!repassword.valid||!onPassword }"></span>
                        </div>
                    </div>
                    <div *ngIf="!repassword.valid&&!onRegister" class="animated fadeInRight"><label class="error">Please re-enter your password.</label></div>

                    <div class="text-center">
                        <button type="button" class="btn create btn-success" (click)="register()">Create Account</button>
                    </div>
                    <br>

                    <div class="text-center">
                        <p>Already Registered?<a routerLink="/login"> Login Here </a></p>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>