<div class="container login">
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <div class="container">
        <div class="container text-center">
            <div id="polina" class="container">
                <form class="form-horizontal animated bounceInUp">

                    <div *ngIf="!onLogin" class="try animated shake">
                        The email and password you entered did not match our records.
                    </div>
                    <!--email-->
                    <div class="form-group has-success has-feedback">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" placeholder="Email Address" [(ngModel)]="user.username" name="username" #username="ngModel" [ngClass]="{ 'error-form-control': !onEmail }" required/>
                            <span class="glyphicon glyphicon-envelope form-control-feedback" [ngClass]="{ 'error-form-control-feedback': !onEmail }"></span>
                        </div>
                    </div>
                    <div *ngIf="!onEmail" class="animated fadeInRight"><label class="error">Please enter a valid email address.</label></div>



                    <!--password-->
                    <div class="form-group has-success has-feedback">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Password" [ngClass]="{ 'error-form-control': !onRegister&&!password.valid }" (keyup.enter)="signin()" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback" [ngClass]="{ 'error-form-control-feedback': !onRegister&&!password.valid }"></span>
                        </div>
                    </div>
                    <div *ngIf="!password.valid&&!onRegister" class="animated fadeInRight"><label class="error">Please enter your password.</label></div>

                    <div class="row">
                        <div class="text-center col-sm-6">
                            <button type="button" class="btn create btn-success" (click)="signin()">Log In</button>
                        </div>
                        <div class="text-center col-sm-12">
                            <a type="button" class="btn create btn-success" href="/auth/facebook">Facebook</a>
                        </div>
                        <div class="text-center col-sm-12">
                            <a type="button" class="btn create btn-success" href="/auth/google">Google</a>
                        </div>
                    </div>


                    <div class="hr"></div>

                    <div class="text-center">
                        <p>Don't have an account?<a routerLink="/register"> Sign up now! </a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>