<div class="card white">
  <legend>{{recipe.name}}</legend>
  <h4>Step</h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Temperature</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let step of recipe.steps; let i = index;">
        <td>{{step.name}}</td>
        <td>{{step.description}}</td>
        <td>{{step.step_temperature}}</td>
        <td>{{step.step_time}}</td>
      </tr>
    </tbody>
  </table>
  <h4>Process <button class="btn btn-orange" (click)="stopBrew()">Stop</button></h4>
  <div *ngFor="let step of recipe.steps; let i = index;" class="row">
    <div class="col-xs-3">
      <label>Step {{i + 1}}: {{step.name}}</label>
    </div>
    <div class="col-xs-3">
      {{((i + 1) == brew.step) && (brew.status!=0) ? brew.time_counter : ((i + 1) < brew.step ? 0: step.step_time * 60)}}
    </div>
    <div class="col-xs-3">
      <button class="btn btn-orange" (click)="processBrew(i + 1)" *ngIf="(i + 1) == brew.step">Start</button>
    </div>
  </div>
  <h1 *ngIf="completed">Congrats! You have completed  Brew Day</h1>
</div>