<app-navbar></app-navbar>
<div class="container">
  <flash-messages></flash-messages>
  <div class="box row" style="top: 200px;">
    <div class="box-image">
      <img src="/assets/img/Avatar/Avatar_Level_5.png" alt="">
    </div>
    <div class="form">
      <div class="title">
        <span>Reset your <b>password</b></span>
        <hr>
      </div>
      <form class="form-horizontal" action="" method="post">
        <fieldset>
          <div style="margin-top: 35px; margin-bottom: 20px;">
            Enter your email address below and we'll send a special reset password link to your inbox.
          </div>
          <div [ngClass]="{'input-group': true, 'has-error1': !onEmail}">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o"></i></span>
            <input type="text" class="form-control" id="inputEmail" placeholder="your@example.com" name="username" #email>
            <div *ngIf="!onEmail" class="animated fadeIn"><label class="error">Please enter a valid email address.</label></div>
          </div>
          <div class="input-group row">
            <div class="col-lg-12 text-center" style="margin-top: 20px;">
              <a class="btn btn-orange big" (click)="sendPasswordResetMail(email.value)" style="width: 100%" href="javascript:void(0)">Send Recovery Email</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>