<div class="box">
  <h1 class="text-center">Image</h1>
  <form class="form-horizontal" action="" method="post">
    <fieldset>
      <div [ngClass]="{'form-group': true, 'has-error': !onEmail}">
        <div class="col-lg-12">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email"  name="username" #email>
          <div *ngIf="!onEmail" class="animated fadeIn"><label class="error">Please enter a valid email address.</label></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-12 text-center" style="margin-top: 15px;">
          <a class="btn btn-danger" (click)="sendPasswordResetMail(email.value)" style="width: 100%" href="javascript:void(0)">Submit</a>
        </div>
        <div class="col-lg-12 text-center" style="margin-top: 15px;">
          <a href="/login" class="danger">Login</a>
        </div>
      </div>
    </fieldset>
  </form>
</div>