.widget {
    background: white;
    width: 100%;
    border: solid 1px #ddd;
    padding: 15px;
    padding-top: 9px;
}

hr {
     margin: 10px -15px 20px; 
}

.widget-title {
    color: #ffc107;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.widget h6 {
    font-weight: bold;
}

.profile-info {
    list-style-type: none;
    padding: 0;
    margin-bottom: 6px;
}

.profile-info li > div {
    width: 12px;
    float: left;
    margin-right: 7px;
}
