<div class="card white">
  <form class="form-horizontal">
    <fieldset>
      <button class="btn btn-orange big" (click)="brew()">Brew</button>
      <legend>Your Recipe</legend>
      <div class="form-group">
        <img [src]="recipe.photo" alt="" height="100" [hidden]="!recipe.photo">
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Name:</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Name" name="name" [(ngModel)]="recipe.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Style</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Style" name="style" [(ngModel)]="recipe.style">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Type</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Type" name="type" [(ngModel)]="recipe.type">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Batch Size</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Batch Size" name="batch_size" [(ngModel)]="recipe.batch_size">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Boil Size</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Boil Time" name="boil_time" [(ngModel)]="recipe.boil_size">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Boil Time</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Boil Time" name="boil_time" [(ngModel)]="recipe.boil_time">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">End of Boil Vol</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="End of Boil Vol" name="end_of_boil_vol" [(ngModel)]="recipe.end_of_boil_vol">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Final Bottling Vol</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Final Bottling Vol" name="final_bottling_vol" [(ngModel)]="recipe.final_bottling_vol">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Fermentation</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Fermentation" name="fermentation" [(ngModel)]="recipe.fermentation">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Equipment</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Equipment" name="equipment" [(ngModel)]="recipe.equipment">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Efficiency</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Efficiency" name="efficiency" [(ngModel)]="recipe.efficiency">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Mash Efficiency</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Mash Efficiency" name="mash_efficiency" [(ngModel)]="recipe.mash_efficiency">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Taste Rating</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Taste Rating" name="taste_rating" [(ngModel)]="recipe.taste_rating">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Note</label>
        <div class="col-lg-10">
          <textarea disabled type="text" class="form-control" placeholder="Note" name="note" [(ngModel)]="recipe.note"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Taste Note</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Taste Note" name="taste_note" [(ngModel)]="recipe.taste_note">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Community Rating</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Community Rating" name="community_rating" [(ngModel)]="recipe.community_rating">
        </div>
      </div>

      <legend class="col-lg-offset-2 col-lg-10">Gravity Alcohol and Content Color</legend>
      <div class="form-group">
        <label class="col-lg-2 control-label">Est Original Gravity</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Est Original Gravity" name="est_original_gravity" [(ngModel)]="recipe.gravity_alcohol_content_color.est_original_gravity">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Est Final Gravity</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Est Final Gravity" name="est_final_gravity" [(ngModel)]="recipe.gravity_alcohol_content_color.est_final_gravity">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Est Alcohol By Vol</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Est Alcohol By Vol" name="est_alcohol_by_vol" [(ngModel)]="recipe.gravity_alcohol_content_color.est_alcohol_by_vol">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Measured Original Gravity</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Measured Original Gravity" name="measured_original_gravity"
            [(ngModel)]="recipe.gravity_alcohol_content_color.measured_original_gravity">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Measured Final Gravity</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Measured Final Gravity" name="measured_final_gravity" [(ngModel)]="recipe.gravity_alcohol_content_color.measured_final_gravity">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Actual Alcohol By Vol</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Actual Alcohol By Vol" name="actual_alcohol_by_vol" [(ngModel)]="recipe.gravity_alcohol_content_color.actual_alcohol_by_vol">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Bitterness</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Bitterness" name="bitterness" [(ngModel)]="recipe.gravity_alcohol_content_color.bitterness">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Color</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Color" name="color" [(ngModel)]="recipe.gravity_alcohol_content_color.color">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Calories</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Calories" name="calories" [(ngModel)]="recipe.gravity_alcohol_content_color.calories">
        </div>
      </div>

      <legend class="col-lg-offset-2 col-lg-10">Mash Profile</legend>
      <div class="form-group">
        <label class="col-lg-2 control-label">Mash Name</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Mash Name" name="mash_name" [(ngModel)]="recipe.mash_profile.mash_name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Total Grain Weight</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Total Grain Weight" name="total_grain_weight" [(ngModel)]="recipe.mash_profile.total_grain_weight">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Sparge Water</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Sparge Water" name="sparge_water" [(ngModel)]="recipe.mash_profile.sparge_water">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Grain Temperature</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Grain Temperature" name="grain_temperature" [(ngModel)]="recipe.mash_profile.grain_temperature">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Sparge Temperature</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Sparge Temperature" name="sparge_temperature" [(ngModel)]="recipe.mash_profile.sparge_temperature">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Tun Temperature</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Tun Temperature" name="tun_temperature" [(ngModel)]="recipe.mash_profile.tun_temperature">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Adjust Temperature For Equipment</label>
        <div class="col-lg-10">
          <div class="radio">
            <label>
            <input type="radio" name="adjust_temperature_for_equipment" id="optionsRadios1" [value]="true" checked="" [(ngModel)]="recipe.mash_profile.adjust_temperature_for_equipment">
            true
          </label>
          </div>
          <div class="radio">
            <label>
            <input type="radio" name="adjust_temperature_for_equipment" id="optionsRadios2" [value]="false" [(ngModel)]="recipe.mash_profile.adjust_temperature_for_equipment">
            false
          </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Target Mash PH</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Target Mash PH" name="targe_mash_PH" [(ngModel)]="recipe.mash_profile.targe_mash_PH">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Estimated Mash PH</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Estimated Mash PH" name="estimated_mash_PH" [(ngModel)]="recipe.mash_profile.estimated_mash_PH">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Mash Acid Addition</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Mash Acid Addition" name="mash_acid_addition" [(ngModel)]="recipe.mash_profile.mash_acid_addition">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Measured Mash PH</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Measured Mash PH" name="measured_mash_PH" [(ngModel)]="recipe.mash_profile.measured_mash_PH">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Sparge Acid Addition</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Sparge Acid Addition" name="sparge_acid_addition" [(ngModel)]="recipe.mash_profile.sparge_acid_addition">
        </div>
      </div>

      <legend class="col-lg-offset-2 col-lg-10">Ingredients</legend>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of recipe.ingredients; let i = index;">
            <td>{{ingredient.amount}}</td>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.type}}</td>
          </tr>
        </tbody>
      </table>

      <legend class="col-lg-offset-2 col-lg-10">Carbonation and Storage</legend>
      <div class="form-group">
        <label class="col-lg-2 control-label">Carbonation Type</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Carbonation Type" name="carbonation_type" [(ngModel)]="recipe.carbonation_and_storage.carbonation_type">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Volumes of CO2</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Volumes of CO2" name="volumes_of_CO2" [(ngModel)]="recipe.carbonation_and_storage.volumes_of_CO2">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Pressure Weight</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Pressure Weight" name="pressure_weight" [(ngModel)]="recipe.carbonation_and_storage.pressure_weight">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Carbination Est</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Carbination Est" name="carbination_est" [(ngModel)]="recipe.carbonation_and_storage.carbination_est">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Bottling Temperature</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Bottling Temperature" name="bottling_temperature" [(ngModel)]="recipe.carbonation_and_storage.bottling_temperature">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Carbination</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Carbination" name="carbination" [(ngModel)]="recipe.carbonation_and_storage.carbination">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Fermintation</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Fermintation" name="fermintation" [(ngModel)]="recipe.carbonation_and_storage.fermintation">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Age For</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Age For" name="age_for" [(ngModel)]="recipe.carbonation_and_storage.age_for">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Fermenter</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Fermenter" name="fermenter" [(ngModel)]="recipe.carbonation_and_storage.fermenter">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Storage Temperature</label>
        <div class="col-lg-10">
          <input type="text" disabled class="form-control" placeholder="Storage Temperature" name="storage_temperature" [(ngModel)]="recipe.carbonation_and_storage.storage_temperature">
        </div>
      </div>

      <legend class="col-lg-offset-2 col-lg-10">Steps</legend>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Temperature</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let step of recipe.steps; let i = index;">
            <td>{{step.name}}</td>
            <td>{{step.description}}</td>
            <td>{{step.step_temperature}}</td>
            <td>{{step.step_time}}</td>
          </tr>
        </tbody>
      </table>

    </fieldset>
  </form>
</div>