<app-navbar></app-navbar>

<section style="background-color: white; padding-top: 95px; ">
  <div class="container" style="position: relative; ">
    <div class="row">
      <div class="paragraph col-md-12">
        <div class="title dark">
          <span>RECIPES</span>
          <hr>
        </div>
        <div class="content row col-md-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Tempor incididunt
          ut labore et dolore magna aliqua.Tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
</section>

<app-searchbar></app-searchbar>

<router-outlet></router-outlet>

<div class="footer-img">
  <div class="footer-left-img">
    <img src="/assets/img/home/hop_left_with_beer.png" class="img-responsive">
  </div>
  <div class="footer-right-img">
    <img src="/assets/img/home/hop_right.png" class="img-responsive">
  </div>
  <div class="footer-logo">
    <img src="/assets/img/Logo_Footer.png" alt="">
  </div>
</div>
<div class="secondary-footer">
  <a [routerLink]="['/dashboard']">Imprint</a>
  <a [routerLink]="['/dashboard']">Privacy policy</a>
</div>