<div class="brew-timer">
  <div class="container">
    <div class="beer-girl">
      <img src="/assets/img/brewday/beer_girl.png" alt="">
    </div>
    <div class="steps">
      <h1 class="counter">00:32:00</h1>

      <div class="control-group">
        <a class="btn btn-light-red">
          <img src="/assets/img/home/beer_button_icon.png" alt="" /> Restart
        </a>
        <a class="btn btn-light-red">
          <img src="/assets/img/home/beer_button_icon.png" alt="" /> Start
        </a>
        <a class="btn btn-light-red">
          <img src="/assets/img/home/beer_button_icon.png" alt="" /> Pause
        </a>
      </div>

      <h3 class="recipe_steps">Recipe Steps</h3>

      <div class="step-list">
        <div class="step">
          <div class="status-img"><img class="waiting" src="/assets/img/brewday/waiting.gif" alt=""></div>
          <span class="waiting">2. Step - Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
        </div>
        <div class="step">
          <div class="status-img"><img class="pending" src="/assets/img/brewday/pending.png" alt=""></div>
          <span class="pending">3. Step - Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
        </div>
        <div class="step">
          <div class="status-img"><img class="pending" src="/assets/img/brewday/pending.png" alt=""></div>
          <span class="pending">4. Step - Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
        </div>
        <div class="step">
          <div class="status-img"><img class="completed" src="/assets/img/brewday/completed.png" alt=""></div>
          <span class="completed">1. Step - Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="hop-img-left hidden-sm hidden-xs">
      <img src="/assets/img/home/hop_left.png" alt="">
    </div>
    <div class="hop-img-right hidden-sm hidden-xs">
      <img src="/assets/img/home/hop_right.png" alt="">
    </div>
  </div>
</div>